body {
  background-color: pink;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pagination-container .pagination-item.selected {
    background-color: rgb(221, 39, 39);
    color: white;
  }
  .pagination-container .pagination-item {
    font-size: 24px;
  }
  .pagination-container .pagination-item:hover {
    background-color: rgb(249, 87, 87);
    cursor: pointer;
  }
input{
  width: 101px;
 
}