body {
  background-color: pink;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination-container .pagination-item.selected {
  background-color: rgb(221, 39, 39);
  color: white;
}
.pagination-container .pagination-item {
  font-size: 24px;
}
.pagination-container .pagination-item:hover {
  background-color: rgb(249, 87, 87);
  cursor: pointer;
}

form {
	display: flex;
	justify-content: center;
	

}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}





// X-Small devices (portrait phones, less than 576px)
/* @media (max-width: 772.98px) {
	.content {
		grid-template-columns: auto;
	}
} */

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content {
    grid-template-columns: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content {
    grid-template-columns: auto auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content {
    grid-template-columns: auto auto auto;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content {
    grid-template-columns: auto auto auto auto;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) { .content{grid-template-columns: auto auto auto;} }


@media print {
  
  .print-cards {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .print-cards .card {
    width: 200px !important;
    height: 100px !important;
    margin: 5px !important;
    background: rgb(29, 9, 9) !important;
  }

}