body {
    background-color: #333;
    font-family: sans-serif;
  
    main {
      display: flex;
      gap: 1rem;
  
      section.fileItemsArea {
        img {
          height: 7rem;
        }
  
        .fileItem {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;
          background-color: #282828;
          padding: .7rem;
          border-radius: .3rem;
          min-width: 28rem;
  
          .title {
            font-size: 1.4rem;
            color: rgb(222, 222, 134);
            margin-bottom: .3rem;
          }
  
          .description {
            color: #fff;
          }
  
          .notes {
            color: #999;
          }
  
          .fileName {
            margin-top: .5rem;
  
            a {
              font-family: courier;
              color: orange;
              font-weight: bold;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    .uploadMessage {
      font-size: 1.5rem;
      margin-bottom: 1rem;
  
      .uploadFileName {
        color: rgb(218, 180, 110);
      }
    }
  
    h1 {
      margin: 2rem 0 0 2rem;
    }
  
    form {
      fieldset {
        margin: 2em;
        padding: 2em 2em 2em 2em;
        border: solid 1px #ccc;
        border-radius: 6px;
        width: 20rem;
        min-width: 200px;
        background-color: #2a2a2a;
  
        legend {
          padding: 0 .25em;
          color: rgb(200, 169, 110) !important;
        }
  
        label {
          display: block;
          margin-bottom: .3rem;
  
          &::after {
            content: ':';
          }
        }
  
        input {
          padding: .5em;
          border: 1px solid #999;
          width: 97%;
          margin-bottom: .5rem;
  
        }
  
        input[type="file"] {
          background-color: #222;
          border: 1px solid #444;
          border-radius: .2rem;
        }
  
  
        .buttonArea {
          display: flex;
          justify-content: space-between;
  
          button {
            margin-top: 1rem;
            font-size: 1rem;
            padding: .3rem;
            display: flex;
            align-items: center;
          }
  
          .preview {
            display: flex;
            align-items: center;
  
            .previewFileName {
              margin-top: .8rem;
              font-size: 1.3rem;
            }
          }
        }
  
      }
    }
  }